.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px; /* Jarak dari teks ke garis pemisah */
  border-bottom: 1px solid #e2e8f0; /* Ini garis transparan/tipis pertama */
  margin-bottom: 10px; /* Jarak dari garis pemisah ke Tab Menu */
}
.headline-text h1 {
  font-size: 20px;
  color: #1a202c;
  margin: 0 0 4px 0;
  font-weight: 700;
}

.headline-text p {
  font-size: 14px;
  color: #718096;
  margin: 0;
}

/* Styling utama tombol */
.btn-export {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; /* Jarak icon dan teks sedikit dilebarkan */
  
  /* Padding sedikit dibesarkan agar icon 24px tidak terlihat sesak */
  padding: 6px 8px; 
  background-color: #a7a9ac;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Efek saat kursor diarahkan ke tombol */
.btn-export:hover {
  background-color: #124a35;
}

/* Memastikan wrapper SVG tidak memiliki margin ekstra */
.icon-document {
  display: flex;
  align-items: center;
}

/* Mengembalikan ukuran icon agar teks CSV di dalam icon terbaca jelas */
.icon-document svg {
  width: 24px;  /* Ubah dari 20px menjadi 24px atau 28px */
  height: 24px; /* Ubah dari 20px menjadi 24px atau 28px */
}